---
title: Equipo
layout: default
---

<!-- Banner -->
<!-- ====== -->
<section id="banner_team">
  <div class="container">
    <div class="row">
      <header>
	<h2>¡Hay Equipo!</h2>
      </header>
    </div><!--/row -->
  </div><!--/container -->
</section><!--/#banner_analysis -->


<!-- Equipo principal -->
<!-- ================ -->
<section id="" class="first_element">
  <div class="container">
    <header>
      <h2 class="title_team">Equipo Principal</h2>
    </header>
    
    <div class="row">
      
      <!-- Juan manuel -->
      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="box-def">
	  <img class="team_img img-responsive" src="{{ "/img/equipo/juan.jpeg" | prepend: site.baseurl }}" alt="foto perfil Juan Manuel" />
	  <h3><a href="https://twitter.com/JMGonzalez30" target="_blank">Juan Manuel González</a></h3>
	  <p>Periodista.</p>
	</div><!--/box-def -->
      </div><!--/col-sm-3 -->

      <!-- Richard -->
      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="box-def">
	  <img class="team_img img-responsive" src="{{ "/img/equipo/Ricardo.jpg" | prepend: site.baseurl }}" alt="foto perfil Richard" />
	  <h3><a href="https://twitter.com/Rikh1975" target="_blank">Ricardo </br> Heurtley</a></h3>
	  <p>Productor Multimedia.</p>
	</div><!--/box-def -->
      </div><!--/col-sm-3 -->

      <!-- Lucas -->
      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="box-def">
	  <img class="team_img img-responsive" src="{{ "/img/equipo/lucas.png" | prepend: site.baseurl }}" alt="foto perfil Lucas Bellomo" />
	  <h3><a href="https://twitter.com/ucaomo" target="_blank">Lucas E. Bellomo</a></h3>
	  <p>Visualización de Datos.</p>
	</div><!--/box-def -->
      </div><!--/col-sm-3 -->
      
      <!-- Yo -->
      <div class="col-xs-12 col-sm-6 col-md-3">
	<div class="box-def">
	  <img class="team_img img-responsive" src="{{ "/img/equipo/franco.jpg" | prepend: site.baseurl }}" alt="foto perfil Franco Bellomo" />
	  <h3><a href="https://twitter.com/fnbellomo" target="_blank">Franco Nicolas Bellomo</a></h3>
	  <p>Análisis de Datos.</p>
	</div><!--/box-def -->
      </div><!--/col-sm-3 -->
      
    </div><!--/row -->

    <h2 class="title_team">Colaboradores</h2>

    <p style="text-align: left;">Participantes del Hack(At)ONG*:</p>
      <ul style="list-style-type:disc">
	<li>Eugenia Novero</li>
	<li>Horacio Campo</li>
	<li>Patricia Viel</li>
	<li>Enzo Oliva</li>
	<li>Diego Puente</li>
	<li>Sindicato de Ladrilleros</li>
      </ul>
    <p style="text-align: left;">*Organizado por Open Data Córdoba y apoyado por Chequeado.</p>
    
  </div><!--/container -->
</section>
