---
layout: default
title: Mapa Colectivo
---

<!-- Video de Chequeado -->
<!-- ================== -->
<section id="videoChequeado">
  <div class="container">
    <div class="row">

      <header>
	<h2 class="video_title">Mapeando entre todos</h2>
      </header>
      
      <div class="col-md-offset-1 col-md-10" style="padding-top: 50px;">
	<iframe width="854" height="480"
		src="https://www.youtube.com/embed/YYeB0dU3Qhw"
		allowfullscreen>
	</iframe>
      </div><!--/col-md-10 -->

    </div><!--/row -->
  </div><!--/container -->
</section><!--/videoChequeado -->


<!-- Como colaborar -->
<!-- ============== -->
<section id="howCollaborate" class="first_element">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-md-offset-7 col-md-5">
	<div class="box-def wow bounceInLeft animated"
	     style="margin-top: 0px;">
	  <header>
	    <h2>Como Colaborar</h2>
	  </header>
	  <p>Si quieres colaborar con Chequeado, podes ayudar sumando
	    puntos en el mapa: Cortaderos, Centros de Salud, Escuelas
	    Primarias y Secundarias.<br>
	    Para colaborar sólo debes hacer click sobre el punto del
	    mapa donde quieres dejar registrado el dato y luego nuestro
	    equipo de trabajo procederá a verificar el mismo para dejarlo
	    asentado definitivamente.<br>
	    Tu participación es muy importante para poder generar un
	    impacto positivo sobre miles de niños, niñas y adolescentes
	    que diariamente sufren la explotación infantil en cortaderos
	    de ladrillos.<br>
	    Para otros datos que quieras aportar podes hacerlo mediante
	    nuestras <a href="#contact">redes sociales</a></p>
	</div><!--/box-def -->
      </div><!--/col-md-5-->
    </div><!--/row -->
  </div><!--/container -->
</section><!--/howCollaborate -->


<!-- Mapa Colaborativo -->
<!-- ================= -->
<section id="mapaColaborativo">
  <div class="container">

    <header>
      <h2 class="mapa_title">Mapa colaborativo</h2>
    </header>
    
    <div class="row">
      <div class="col-md-12">
	<div id="map"></div>
	<div id="legend"></div>
      </div><!--/col -->
    </div><!--/row -->

  </div><!--/container -->
</section><!--/mapaColaborativo -->


<!-- Modal Crear una nueva instituciones -->
<!-- =================================== -->
<div class="modal fade" id="createWindow" tabindex="-1"
     role="dialog" aria-labelledby="createWindowLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
		aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
        <h4 class="modal-title" id="createWindowlLabel">Agregar Punto</h4>
      </div><!--/modal-header -->
      
      <div class="modal-body">
	{% raw %}
	{% if not session["access_token"] %}
	<p>Muchas gracias por agregar un nuevo punto. Por motivos de seguridad
	  y confianza de los datos, los nuevos punto son verificados por un
	  miembro de nuestro equipo antes de mostrarlo en el mapa</p>
	{% else %}
	<p>Como usted esta logeado, los puntos que agrege se reflejaran
	  directamente en el mapa.</p>
	{% endif %}
	{% endraw %}

        <form class="form-horizontal">
	  <!-- Coordenadas -->
	  <div class="form-group">
	    <label for="a" class="col-sm-3 control-label">Coordinadas:</label>
	    <div class="col-sm-9" style="padding-top: 7px;">
	      <span id="showCoord"></span>
	    </div><!--/col-->
	  </div><!--/form-group -->

	  <!-- Nombre -->
          <div class="form-group">
	    <label for="formName" class="col-sm-3 control-label">Nombre:</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" id="formNameCreate"
		     placeholder="Nombre de la institucion">
	    </div><!--/col -->
          </div><!--/form-group -->

	  <!-- Tipo -->
	  <div class="form-group">
	    <label for="formType" class="col-sm-3 control-label">Tipo:</label>
	    <div class="col-sm-9">
	      <select id="formType">
		<option value="seleccionar">Seleccionar una opción</option>
		{% raw %}
		{% for name in layersFullName %}
		<option value="{{ name }}">{{ layersFullName[name] }}</option>
		{% endfor %}
		{% endraw %}
	      </select>
	    </div><!--/col -->
          </div><!--/form-group -->

	  <!-- Observación -->
          <div class="form-group">
	    <label for="formText" class="col-sm-3 control-label">
	      Observación:
	    </label>
	    <div class="col-sm-9">
	      <textarea class="form-control" id="formText"></textarea>
	    </div><!--/col -->
          </div><!--/form-group -->
        </form>
      </div><!--/modal-body -->
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
	  Cerrar
	</button>
        <button id="createButton" type="button" class="btn btn-primary"
		onclick="">
	  Agregar
	</button>
      </div><!--/modal-footer -->
      
    </div><!--/modal-content -->
  </div><!--/modal-dialog -->
</div><!--/modal fade -->


<!-- Modal Modificar atributos instituciones existentes -->
<!-- ================================================== -->
<div class="modal fade" id="modifyWindow" tabindex="-1"
     role="dialog" aria-labelledby="modifyWindowLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
		aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
        <h4 class="modal-title" id="modifyWindowLabel">Modificar</h4>
      </div><!--/modal-header -->
      
      <div class="modal-body">
	<p id="showCoord">Coordinadas</p>
        <form>
          <div class="form-group">
	    <label for="formName" class="control-label">Nombre:</label>
	    <input type="text" class="form-control" id="formName">
          </div><!--/form-group -->
          <div class="form-group">
	    <label for="formText" class="control-label">Información Adicional:
	    </label>
	    <textarea class="form-control" id="formText"></textarea>
          </div><!--/form-group -->
        </form>
      </div><!--/modal-body -->
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
	  Cerrar
	</button>
        <button id="modifyButton" type="button" class="btn btn-primary"
		onclick="">
	  Modificar
	</button>
      </div><!--/modal-footer -->

    </div><!--/modal-content -->
  </div><!--/modal-dialog -->
</div><!--/modal fade -->


<!-- Modal Eliminar instituciones existentes -->
<!-- ======================================= -->
<div class="modal fade" id="deletWindow" tabindex="-1"
     role="dialog" aria-labelledby="deletWindowLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
		aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
        <h4 class="modal-title" id="deletWindowLabel">Eliminar</h4>
      </div><!--/modal-header -->
      
      <div class="modal-body">
	{% raw %}
	{% if not session["access_token"] %}
	<p>Eliminar un establecimiento de nuestra lista indica que
	  este no existe más o no continua funcionando.</p>
	<p>La actualización de esta modificación no es inmediata,
	  debido a que tiene que ser corroborada por un tercero
	  para mayor seguridad</p>
	{% else %}
	<p>Eliminar un establecimiento de nuestra lista indica que
	  este no existe más o no continua funcionando.</p>
	<p>Usted esta logeado, por lo cual al borrar este punto lo
	  eliminara definitivamente</p>
	{% endif %}
	{% endraw %}
      </div><!--/modal-body -->
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
	  Cerrar
	</button>
        <button id="deletButton" type="button" class="btn btn-danger"
		onclick="">
	  Eliminar
	</button>
      </div><!--/modal-footer -->

    </div><!--/modal-content -->
  </div><!--/modal-dialog -->
</div><!--/modal fade -->

{% raw %}
<script>
  var serverUrl = "{{ serverUrl }}";
  var layersNames = {{ layersNames | safe }};
  var layersFullName = {{ layersFullName | safe }};
</script>
{% endraw %}

<!-- Personal script to make plot -->
<script src="static/js/colaborative/colaborative_map.js"></script>
<!-- Modal script -->
<script src="static/js/colaborative/modal.js"></script>
<!-- Resize the Map -->
<script src="static/js/resize.js"></script>
<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM12MMIbSoDFdhTO0yDpXQcZhYryxeFG4&callback=initMap" async defer></script>
